<!doctype html>
<html lang="en">
<head>

  <title>Payment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <h1 style="text-align:center">Платежи</h1><br>

  <table class="container">
  <thead>
    <tr>
      <th scope="col">Платёж</th>
      <th scope="col">Дата платежа</th>
      <th scope="col">Месяц платежа</th>
      <th scope="col">Долг</th>
      <th scope="col">Дата долга</th>
      <th scope="col">Месяц долга</th>
    </tr>
  </thead>

  <tbody>
    {% for payment in payments %}
      <tr>
        <th scope="row">{{ payment.id}}</th>
        <td >{{ payment.date}}</td>
        <td>{{ payment.month}}</td>
        {% if payment.accrual_id %}
          <td>{{ payment.accrual.id }}</td>
          <td>{{ payment.accrual.date }}</td>
          <td>{{ payment.accrual.month }}</td>
        {% else %}
          <td>—</td>
          <td>—</td>
          <td>—</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

</body>
</html>
