<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Payments</title>
</head>
<body>
  <h1 style="text-align:center; padding: 20px; margin-top: 10px;">Платежи</h1><br>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">№ Платежа</th>
      <th scope="col">Дата платежа</th>
      <th scope="col">Месяц платежа</th>
      <th scope="col">№ Задолженности</th>
      <th scope="col">Дата задолженности</th>
      <th scope="col">Месяц задолженности</th>
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
      <tr>
        <th scope="row">{{ payment.id}}</th>
        <td >{{ payment.date}}</td>
        <td>{{ payment.month}}</td>
        {% if payment.accrual_id %}
          <td>{{ payment.accrual.id }}</td>
          <td>{{ payment.accrual.date }}</td>
          <td>{{ payment.accrual.month }}</td>
        {% else %}
          <td>—</td>
          <td>—</td>
          <td>—</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

</body>
</html>